.dashboard__container {
  margin-left: 4%
}

.dashboard_subject_chart {
  width: 80%;
  margin: auto;
}

.dashboard_info_message {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: flex-end;
  font-size: 1.5rem;
}
