<h3>Using regular class:</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span class="status" [class.checked-in]="passenger.checkedIn"></span>
    {{ i }}: {{ passenger.fullname }}
  </li>
</ul>

<h3>Using ngClass:</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span
      class="status"
      [ngClass]="{
        'checked-in': passenger.checkedIn,
        'checked-out': !passenger.checkedIn
      }"
    ></span>
    {{ i }}: {{ passenger.fullname }}
  </li>
</ul>

<h3>Using regular style:</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span
      class="status"
      [style.backgroundColor]="passenger.checkedIn ? '#2ecc71' : '#c0392b'"
    ></span>
    {{ i }}: {{ passenger.fullname }}
  </li>
</ul>

<h3>Using ngStyle:</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span
      class="status"
      [ngStyle]="{
        backgroundColor: passenger.checkedIn ? '#2ecc71' : '#c0392b'
      }"
    ></span>
    {{ i }}: {{ passenger.fullname }}
  </li>
</ul>
