
$primary-color: #465DEF;
$text-color-light: #FFFFFF;
$text-color-dark: #4D4F5C;
$button-color: #f1823B;

.profile_dialog_title{
  color: $primary-color;
  text-align: center;
}

.profile_dialog_personal_information_wrapper{
  display: flex;
}

.profile_dialog_description_wrapper{
  display: flex;
  justify-content: center;
}

.full_size_form{
  padding: 0 10px 0 10px;
}

.full_size_form > *{
  width: 100%;
}

.profile_dialog_button_cancel{
  background-color: $button-color;
  color: $text-color-light;
}

.profile_dialog_button_ok{
  background-color: $primary-color;
  color: $text-color-light;
}

.profile_dialog_button_ok[disabled] {
  color: white;
  background-color: $primary-color;
  opacity: 0.5;
}

.profile_dialog_buttons_wrapper{
  display: flex;
  justify-content: center;
}

/deep/ .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: $button-color;
  }
}

/deep/ .mat-radio-inner-circle {
  background-color: $button-color;
}

/deep/ .mat-radio-ripple .mat-ripple-element {
  background-color: $button-color;
}

.form_radio_button{
  margin: 12px 0 24px 0;
}

.mat-radio-button ~ .mat-radio-button {
  padding-left: 10px;
}