<h1 mat-dialog-title class="add-course_dialog_title" mat-dialog-title>{{ initData.title }}</h1>
<mat-dialog-content>
  <form
    [formGroup]="form"
    novalidate>
      <div class="dialog__wrapper">
        <mat-form-field>
          <mat-select
            placeholder="Group"
            [compareWith]="compareElements"
            formControlName="group">
            <mat-option
              *ngFor="let group of avaliableGroups$ | async"
              [value]="group">
              {{ group.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['group'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="addcourse__select">
          <mat-select
            placeholder="Subject"
            [compareWith]="compareElements"
            formControlName="subject">
            <mat-option
              *ngFor="let subject of avaliableSubjects$ | async"
              [value]="subject">
              {{ subject.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['group'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="addcourse__select">
          <mat-select
            placeholder="Teacher"
            [compareWith]="compareElements"
            formControlName="teacher">
            <mat-option
              *ngFor="let teacher of avaliableTeachers$ | async"
              [value]="teacher">
              {{ teacher.name }} {{teacher.surname}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['group'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions class="add-course_dialog_buttons_wrapper">
  <button
    mat-button
    class="add-course_dialog_button_cancel"
    (click)="onNoClick()">
    Cancel
  </button>
  <button
    mat-button
    class="add-course_dialog_button_ok"
    [disabled]="!form.valid || !form.dirty"
    (click)="onOkClick()">
    OK
  </button>
</div>
