.notification_text_color{
  color: #ffffff;
}

.notification_icon{
  font-size: 40px;
}

.notification_text{
  margin-left: 10px;
  font-size: 24px;
  width: 100%;
  vertical-align: top;
}

.notification_wrapper{
  display: flex;
  align-items: center;
}
