<div class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <!-- <img src="src/assets/img/angular-logo.png"> -->
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/movies">Movies</a>
      <a class="navbar-item" routerLink="/users">Users</a>
      <a class="navbar-item" routerLink="/cars">Cars List</a>
      <a class="navbar-item" routerLink="/cars-edit">Edit Cars</a>
    </div>
  </div>
</div>